@import '../assets/colors.scss';

.brewery{
    text-align: left;

    &__description, &__type, &__name, &__address, &__phone, &__contact *{
        color: $font-color;
    }

    &__side{
        font-family: 'Poppins', sans-serif;
        margin-bottom: 50px;
    }

    &__back{
        color: $background-color;
        text-decoration: none;

        &-icon{
            position: relative;
            top: 0.4rem;
            transform: rotate(180deg);
            margin-right: 10px;
        }
    }

    &__contact{
        *{
            margin: 20px 0;
        }

        h2{
            color: $clear-font-color;
            font-size: 1rem;
            font-weight: 700;
        }
    }

    &__link{
        color: $background-color;
        word-break: break-word;
    }

    &__address{
        p{
            margin: 0.3rem 0;
        }
    }

    &__content{
        font-family: 'Roboto', sans-serif;
    }

    &__name{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }

    h1{
        margin: 0;
    }

    &__type{
        text-transform: capitalize;
        border: 1px solid $font-color;
        border-radius: 4px;
        padding: 6px;
        height: 20px;
        min-width: 80px;
        text-align: center;
        width: min-content;
        margin: auto 0 auto 30px;
    }

    &__icon-text{
        color: $clear-font-color;
        font-size: 0.9rem;
        display: inline-block;
        margin-right: 15px;

        .brewery__icon{
            font-size: 1.1rem;
        }
    }

    &__description{

        p{
            font-weight: 400;
            text-align: justify;
        }

        &--note{
            color: $clear-font-color;
        }
    }

    &__icon{
        position: relative;
        top: 0.2rem;
        margin: 0;
    }

    &__website{
        color: rgb(223, 109, 109);

        iframe{
            width: 100%;
            height: 300px;
            border-radius: 4px;
            border: 1px solid $clear-font-color;
        }
    }
}

@media (min-width: 800px) {
    .brewery{

        &__page{
            display: flex;
            justify-content: space-between;
        }

        &__side{
            width: 30%;
            min-width: 250px;
            max-width: 400px;
            margin-right: 20px;
        }

        &__content{
            min-width: 55%;
        }
    }
}