@import '../assets/colors.scss';

.brewery{
    text-align: left;

    &__description, &__type, &__name, &__address, &__phone, &__contact *{
        color: $font-color;
    }

    &__side{
        font-family: 'Popping', sans-serif;
    }

    &__contact{
        *{
            margin: 20px 0;
        }


        h2{
            color: $clear-font-color;
            font-size: 1rem;
            font-weight: 700;
        }
    }

    &__address{
        p{
            margin: 0.3rem 0;
        }
    }

    &__content{
        font-family: 'Roboto', sans-serif;
    }

    &__name{
        display: flex;
        align-content: center;

        
    }


    h1{
        margin: 0;
    }

    &__type{
        text-transform: capitalize;
        border: 1px solid $font-color;
        border-radius: 4px;
        padding: 6px;
        height: 20px;
        min-width: 80px;
        text-align: center;
        width: min-content;
        margin: auto 30px;
    }

    &__date{
        color: $clear-font-color;
        font-size: 0.9rem;
        .brewery__icon{
            font-size: 1.1rem;
        }
    }

    &__description{

        p{
            font-weight: 400;
            text-align: justify;
        }

        &--note{
            color: $clear-font-color;
        }
    }

    &__icon{
        position: relative;
        top: 0.2rem;
        margin: 0;
    }
}