@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
@import '../assets/colors.scss';

.pages{
    display: flex;
    justify-content: center;
    user-select: none;

    &__arrow, &__number, &__more{
        width: 32px;
        height: 32px;
        border: 1px solid;
        border-radius: 4px;
        margin: 5px;

        p{
            margin: auto 0;
        }
    }

    &__arrow:hover, &__number:hover{
        color: $background-color;
        border-color: $background-color;
    }

    &__arrow{

        &--disabled{
            pointer-events: none;
            width: 32px;
            height: 32px;
            border: 1px solid;
            border-radius: 4px;
            margin: 5px;
            color: lighten($clear-font-color, 10%);

            display: flex;
            justify-content: center;
            p{
                margin: auto 0;
            }
        }
    }

    &__number, &__arrow{
        color: $clear-font-color;
        border-color: $clear-font-color;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;

        display: flex;
        justify-content: center;

        &--current{
            border-color: $background-color;
            background: $background-color;
            color: white;

            pointer-events: none;
        }
    }

    &__more{
        position: relative;
        top: -11px;
        pointer-events: none;
        font-weight: 700;
        font-size: 2rem;
        border-color: rgba(0, 0, 0, 0);
        color: $clear-font-color;
    }

}
